<!-- <p>confirmpassword works!</p> -->
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-left rounded shadow py-5">
        <form [formGroup]="myReactiveForm">
         
            <div class="form-group">
              <label for="password">Enter password</label>
              <input type="text" class="form-control" id="password" placeholder="Enter Password"
                formControlName="password">
                <small class="text-danger" *ngIf="!myReactiveForm.get('password').valid
                && myReactiveForm.get('password').touched">
                     <span *ngIf="myReactiveForm.get('password').errors['required']">
                     password is required 
                    </span>
                </small>
            </div>

             <div class="form-group">
                <label for="confirmPassword">confirm Password</label>
                <input type="text" appConfirmpassword="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                  formControlName="confirmPassword">
                  <small class="text-danger" *ngIf="!myReactiveForm.get('confirmPassword').valid
                  && myReactiveForm.get('confirmPassword').touched">
                       <span *ngIf="myReactiveForm.get('confirmPassword').errors['required']">
                        Confirm Password is required 
                      </span>
                  </small>
                  <small class="text-danger" *ngIf="!myReactiveForm.get('confirmPassword').valid
                  && myReactiveForm.get('confirmPassword').touched" >
                       <span *ngIf="myReactiveForm.get('confirmPassword').errors['notEqual'] && !myReactiveForm.get('confirmPassword').errors['required']">
                     Password and confirm password does not match
                      </span>
                  </small>

              </div>
               
              <button type="submit" class="btn btn-success mt-2"  style="margin-left: 300px" (click)="show()">Login</button>   
        </form>

        <div class="row justify-content-center mt-2" *ngIf="data">
          <div class="col-md-8 rounded shadow py-4">
            <h4 style="margin-left: 50px;">Form Data </h4>
            <p>Password : <strong>{{myReactiveForm.get('password').value}}</strong></p>
            <p>Confirm Password : <strong>{{myReactiveForm.get('confirmPassword').value}}</strong></p>
          </div>
        </div>


      </div>
    </div>
  </div>
  